div{
    height: 500px;
    width: 22%;
    background-color: yellow;
    color: violet;
    float: left;
    border: 10px wheat solid;
    padding: 10px;
    border-radius: 20px;
}
h1{
    text-align: center;
}
img{
    width: 100%;
    height: 255px;
    border-radius: 30px;
}